/*importFont*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@600&display=swap');

/*body-generale*/
body {
    background-image: url(/assets/immagini/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    margin: 1%;
}

*{
    font-family: 'inter';
}

h1, h2, h3 {
    font-family: 'outfit';
}


/*Header-generale*/
header {
    position: relative;
}

header img {
    width: 28vh;
    margin-left: 6vh;
    display: block;
}

/*main-generale*/
main {

    
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin: 2%;
}

.center {
    display: flex;
    justify-content: flex-end;
}

.main-container {
    width: 100%;
    height: 100%;
}

/*welcomePage-generale*/
.allineamento-sinistra {
    text-align: left;
}

.grassetto {
    font-weight: 600;
}

#titolo {
    display: block;
    font-size: 6rem;
    padding-bottom: 5vh;
    margin-right: 150vh;
}

#istruzioni {
    display: block;
    font-size: 3rem;
    font-weight: 600;
    color: #B22B8A;
    padding-bottom: 0.5%;
}

#paragrafoIstruzioni {
    margin: 0% 45% 0% 0%;
}

#listaIstruzioni {
    margin: 3% 0% 4% 2%;
}

.contenitoriLista {
    padding: 0.2%;
}

#contenitorePerProcedere {
    text-align: left;
}

#promise {
    width: 20px;
    height: 20px;
}

/*welcomePage-button*/

.bottoneDisattivato,
.bottoneAttivato {
    font-size: 1.5rem;
    font-weight: 800;
    border: none;
    width: 16vw;
    height: 8vh;
    margin-left: 30%;
    cursor: pointer;
    transition-duration: 200ms;
}

.bottoneDisattivato {
    background-color: gray;
    cursor: not-allowed;
}

.bottoneAttivato {
    background-color: rgb(3, 242, 255);
}

.bottoneDisattivato:hover {
    background-color: darkgray;
}

.bottoneAttivato:hover {
    box-shadow: 0px 0px 10px 4px rgba(117, 251, 253, 0.63);
}


/*QuizPage-Generale*/
.testoDomanda {
    font-size: 3rem;
    padding: 5% 0% 5% 0%;
}

.testoRisposta {
    flex: 1;
    display: inline-block;
    border-radius: 5vw 5vw 5vw 5vw;
    width: 28%;
    font-size: 2rem;
    padding: 2%;
    margin: 0.8% 0.8% 0% 0.8%;
    background-color: transparent;
    box-shadow: inset 1px 1px 3px 2px white;
}

.testoRisposta:hover {
    background-color: #B22B8A;
    transition-duration: 200ms;
    cursor: pointer;
}

.testoRisposta.clicked {
    background-color: #b93a93;
}

/*quizPage-button+indexQuestion*/
.tastoProssimaDomanda {
    display: block;
    border: none;
    border-radius: 40px 40px 40px 40px;
    font-size: 1.5rem;
    color: white;
    background-color: #B22B8A;
    padding: 1% 4% 1% 4%;
    margin: 8% auto auto auto;
}

.tastoProssimaDomanda:hover {
    background-color: #b93a93;
    cursor: pointer;
}

.indiceDomande {
    margin-top: 2%;
    margin-right: 1%;
    margin-bottom: 1vh;
}

.slash {
    color: #B22B8A;
}

/*quizPage-timer*/
.cerchioTimer {
    width: 20rem;
    height: 20rem;
    background-color: transparent;
    position: absolute;
    transform: translate( -35%, -45%);
    left: 90%;
    display: grid;
    place-items: center;
}

.cerchioTimerProgresso{
    position: relative;
    width: 8rem;
    height: 8rem;
    background-color: transparent;
    border-radius: 50%;
}

.cerchioTimerProgresso::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 85%;
    background-color: white;
    border-radius: 50%;
    top: 7.5%;
    left: 7.5%;
    background-color: rgba(88, 25, 90 ) ;
}

.testoTimer {
    position: relative;
    font-family: 'outfit';
    font-size: 1rem;
    top: 23%;
    font-weight: bold;
    color: white;
}
.paragrafoSecondi {
    position: relative;
    font-size: 0.7rem;
    text-align: center;
}
.numeroSecondi {
    position: relative;
    font-size: 3rem;
    left: 31%;
}

/*resultPage-generale*/
.boxRisposteRisultati {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4%;
}

.contenitoreTitolo {
    font-size: 2.5rem;
    margin-bottom: 3.5em;
}

.contenitoreRisposteCorrette {
    margin-right: 20%;
    text-align: left;
}

.contenitoreRisposteSbagliate{
    text-align: right;
}

.contenitoreRisposteCorrette,
.contenitoreRisposteSbagliate {
    margin-top: 2rem;
    color: #f3f2f2;;
}

h2{
    font-size: 5rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    color: #f3f2f2;
}

.risposteSbagliate2 p:first-child {
    font-size: 5rem ;
}

.risposteSbagliate2 p:nth-child(2){
    font-weight: bold;
    font-size: 5rem;
    }

.risposteSbagliate2 p:last-child{
    font-size: 1.5rem;
}

.risposteCorrette2 p:first-child {
    font-size: 5rem ;
}

.risposteCorrette2 p:nth-child(2){
    font-weight: bold;
    font-size: 5rem;
}

.risposteCorrette2 p:last-child{
    font-size: 1.5rem;
}

.percentualeSbagliate {
    font-size: 4.5rem;
}

.percentualeCorrette {
    font-size: 4.5rem;
}

.messaggioEmail{
    padding-left: 19%;
    padding-right: 19%;
    padding-top: 5%;
    font-size: 1.2rem;
    color: #cacbcb;
}

/*resultPage-Button*/
.buttonRateUs {
    margin-top: 14rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    border: white solid;
    background-color: transparent;
    padding: 1.2% 5% 1.2% 5%;
}

.buttonRateUs:hover {
    background-color: #b22b8a69;
    transition-duration: 150ms;
    cursor: pointer;
}

/*resultPage-cakeGraph*/

.risultatoEsame {
    width: 28rem;
    height: 28rem;
    background-color: transparent;
    position: absolute;
    transform: translate(0%, 15%);
    border-radius: 2rem;
    display: grid;
    place-items: center;
}

.risultatoEsameProgresso {
    position: relative;
    width: 30rem;
    height: 30rem;
    background-color: #75FBFD;
    border-radius: 50%;
    display: grid;
    place-items: center;
   box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.55);
   box-shadow: inset 0px 0px 8px 4px rgba(56, 56, 56, 0.55);
}

.risultatoEsameProgresso:before {
    content: "";
    position: absolute;
    height: 72%;
    width: 72%;
    background-color: rgb(43, 13, 72);
    border-radius: 50%;
    box-shadow: inset 0px 0px 8px 4px rgba(56, 56, 56, 0.55);  
}

.risultatoEsameProgressoValore {
    position: relative;

}

.contenitoreRisposteCorrette {
    display: flex;
}

.testoRisultatoEsame {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1%;
    color: #f3f2f2;
}

.sottotitoloRisultatoEsame {
    padding: 0.5%;
    font-size: 1.7rem;
    color: #75FBFD;
    font-weight: bold;
}

/*feedback-generale*/
#PrimaParteFeedback {
    padding: 0vh 0vh 7vh 0vh;
}

#PrimaParteFeedback h2 {
    display: block;
    font-weight: 600;
    font-size: 3.75rem;
    margin: 0vh 0vh 3.5vh 6vh;
}

#PrimaParteFeedback div {
    display: block;
    margin: 3%;
    padding: 0vh 38vh 0vh 38vh;
}

.stellaFeedback {
    padding: 1.0vh;
}

.stellaFeedback:hover {
    cursor: pointer;
}

#SecondaParteFeedback p {
    margin: 4vh 0vh 4vh 0vh;
}

#SecondaParteFeedback input {
    margin-bottom: 10vh;
    color: white;
    background: none;
    border: none;
    border-bottom: #B22B8A solid;
    font-size: 1.5rem;
    width: 41vw;
    height: 5vh;
}

/*feedbackPage-Button*/
#SecondaParteFeedback button {
    font-size: 1.5rem;
    font-weight: 800;
    border: none;
    background-color: darkgray;
    width: 16vw;
    height: 8vh;
}

#SecondaParteFeedback button:hover {
    background-color: #75FBFD;
    box-shadow: 0px 0px 10px 4px #75FBFD;
    transition-duration: 150ms;
    cursor: pointer;
}

#divFeedback {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16% 18% 16% 18%;
}

#testoFeedback {
    font-size: 2rem;
    font-weight: 500;
    width: 85%;
    padding: 2% 1% 2% 1%;
    border: #B22B8A solid;
    background-color: #b22b8a71;
}

#tooltip {
    display: none;
    position: absolute;
    background-color: red;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-top: -25px; 
}