/*GENERALE*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');


body {
    background-image: url(/assets/immagini/bg.jpg);
    /* rimetti N in immagini */
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    margin: 1%;
}


/*HEADER GENERALE*/

header {
    display: flex;
}

header img {

    width: 35vh;
    margin-left: 2.5%;
    display: block;

}

/*MAIN GENERALE*/
main {
    font-family: 'outfit';
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin: 2%;
    ;
}

.center {
    display: flex;
    justify-content: flex-end;
}

.main-container {
    width: 100%;
    height: 100%;
}


/*WELCOME PAGE*/
.allineamento-sinistra {
    text-align: left;
}

.grassetto {
    font-weight: 600;
}

#titolo {
    display: block;
    font-size: 6rem;

    padding-bottom: 2.5%;
    margin-right: 55%;
}

#istruzioni {
    display: block;
    font-size: 3rem;
    font-weight: 600;
    color: #B22B8A;
    padding-bottom: 0.5%;
}

#paragrafoIstruzioni {
    margin: 0% 45% 0% 0%;
}

#listaIstruzioni {
    margin: 2% 0% 4% 4%;
}

.contenitoriLista {
    padding: 0.2%;
}


#button {
    margin-left: 40%;
}


.bottoneDisattivato {
    font-size: 1.4rem;
    font-weight: 800;
    border: none;
    background-color: gray;

    width: 22vh;
    height: 8vh;
    cursor: pointer;
    transition-duration: 200ms;
}

.bottoneDisattivato:hover {
    background-color: darkgray;
}

.bottoneAttivato {
    font-size: 1.4rem;
    font-weight: 800;
    border: none;

    width: 22vh;
    height: 8vh;

    background-color: rgb(3, 242, 255);
    transition-duration: 200ms;
    cursor: pointer;
}

.bottoneAttivato:hover {
    box-shadow: 0px 0px 35px 7px rgba(117, 251, 253, 0.63);
}

/*PAGINA QUIZ*/

.testoDomanda {
    margin: 10vh 0vh 10vh 0vh;
    font-size: 3rem;
}

/*CONTATORE TEMPO DOMANDE*/

.circle-container {
    margin-right: 2%;
    width: 6rem;
    height: 6rem;
    background-color: rgb(52, 19, 86);
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    z-index: 1;
}

.semicircle {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: right center;
}

.semicircle:nth-child(1) {

    background-color: rgb(0, 255, 255);
    z-index: 2;
}

.semicircle:nth-child(2) {

    background-color: rgb(0, 255, 255);
    z-index: 3;

}

.semicircle:nth-child(3) {

    background-color: rgb(52, 19, 86);

    z-index: 4;

}

.outermost-circle {
    margin-right: 8.5%;
    margin-top: 8%;
    width: 4.96rem;
    height: 5.1rem;
    background-color: black;
    background-color: rgb(108, 40, 117);
    border-radius: 50%;
    z-index: 5;

}

.main-container:hover .semicircle:nth-child(1) {
    transform: rotate(180deg);
    transition: 1s linear;
}

.main-container:hover .semicircle:nth-child(2) {
    transform: rotate(360deg);
    transition: 2s linear;
}

.main-container:hover .semicircle:nth-child(3) {
    opacity: 0;
    transition: opacity 0s 1s;
}

/*PAGINA FEEDBACK*/

.timer-container {
    width: 3.125rem;
    height: 1.25;
    z-index: 6;
}

.timer {
    width: 5.9rem;
    height: 6.25rem;
    z-index: 7;
}

.timer div {
    font-family: 'outfit';
    color: white;
    padding-top: 1.8rem;
    font-size: 2.2rem;
    width: 6.7rem;
    height: auto;
    justify-content: center;
    align-items: center;

}

.timer .colon {
    background-color: transparent;
    width: 0.625rem;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0.938rem;
}


#PrimaParteFeedback {
    padding: 0vh 0vh 7vh 0vh;
}

#PrimaParteFeedback h2 {
    display: block;
    font-weight: 600;
    font-size: 3.75rem;
    margin: 0vh 0vh 3.5vh 6vh;
}

#PrimaParteFeedback div {
    display: block;
    margin: 3%;
    padding: 0vh 38vh 0vh 38vh;
}

.stellaFeedback {
    padding: 1.1vh;
}


#SecondaParteFeedback p {
    margin: 4vh 0vh 3vh 0vh;
}

#SecondaParteFeedback input {
    margin-bottom: 10vh;
    color: white;
    background: none;
    border: none;
    border-bottom: #B22B8A solid;
    font-size: 1.5rem;
    width: 41vw;
    height: 5vh;
}


#SecondaParteFeedback button {
    font-size: 1.4rem;
    font-weight: 800;
    border: none;
    background-color: darkgray;
    width: 18vw;
    height: 10vh;
}

#SecondaParteFeedback button:hover {
    background-color: #75FBFD;
    box-shadow: 0px 0px 35px 7px rgba(117, 251, 253, 0.63);
    transition-duration: 150ms;
    cursor: pointer;
}

.boxRisposteRisultati {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4%;
}

.contenitoreTitolo {
    margin-bottom: 5em;
}

.risultatoEsame{
    border: 1.7em solid #75FBFD;
}

.risultatoEsameTesto {
    border: 1.7em solid #75FBFD;
}

.contenitoreRisposteCorrette {
    display: flex;
}

.contenitoreRateUs {
    margin-top: 10em;
}