/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

/* Body styling */
body {
    background-image: url(/assets/immagini/bg.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    margin: 1%;
}

/* General header styling */
header {
    position: relative;
}

header img {
    width: 28vh;
    margin-left: 6vh;
    display: block;
}

/* General main styling */
main {

    font-family: 'outfit';
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin: 5%;
}

.center {
    display: flex;
    justify-content: flex-end;
}

.main-container {
    width: 100%;
    height: 100%;
}

/* Welcome page styling */
.allineamento-sinistra {
    text-align: left;
}

.grassetto {
    font-weight: 600;
}

#titolo {
    display: block;
    font-size: 6rem;
    padding-bottom: 5vh;
    margin-right: 110vh;
}

#istruzioni {
    display: block;
    font-size: 3rem;
    font-weight: 600;
    color: #B22B8A;
    padding-bottom: 0.5%;
}

#paragrafoIstruzioni {
    margin: 0% 45% 0% 0%;
}

#listaIstruzioni {
    margin: 3% 0% 4% 2%;
}

.contenitoriLista {
    padding: 0.2%;
}

#contenitorePerProcedere{
    text-align: left;
}

#button {
    margin-left: 30%;
    width: 17%;
    height: 5.5rem;
    font-size: 1.7rem;
}

#promise{
    width: 20px;
    height: 20px;
}


/* Buttons styling */
.bottoneDisattivato,
.bottoneAttivato {
    font-size: 1.4rem;
    font-weight: 800;
    border: none;
    width: 18vw;
    height: 10vh;
    cursor: pointer;
    transition-duration: 200ms;
}

.bottoneDisattivato {
    background-color: gray;
}

.bottoneAttivato {
    background-color: rgb(3, 242, 255);
}

.bottoneDisattivato:hover {
    background-color: darkgray;
}

.bottoneAttivato:hover {
    box-shadow: 0px 0px 35px 7px rgba(117, 251, 253, 0.63);
}

/* Quiz page styling */
.testoDomanda {

    font-size: 2rem;
    padding: 5% 0% 5% 0%;
}

.testoRisposta {
    flex: 1;
    display: inline-block;
    border-radius: 5vw 5vw 5vw 5vw ;
    width: 30%;
    font-size: 1.5rem;
    padding: 2%;
    margin: 0.8% 0.8% 0% 0.8%;
    background-color: transparent; 
    box-shadow: inset 1px 1px 3px 2px white;
}

.testoRisposta:hover {
    background-color: #B22B8A;
    transition-duration: 200ms;
    cursor: pointer;
}

.testoRisposta.clicked {
    background-color: #b93a93;
}


.tastoProssimaDomanda {
    display: block;
    font-family: 'Outfit';
    border: none;
    font-size: 1.2rem;
    color: white;
    border-radius: 40px 40px 40px 40px ;
    background-color: #B22B8A;
    padding: 1% 4% 1% 4%;
    margin: 8% auto auto auto;
}

.tastoProssimaDomanda:hover {
    background-color: #b93a93;
    cursor: pointer;
}

.indiceDomande {
margin-top: 2%;
margin-right: 1%;
margin-bottom: 1vh;
}

.slash {
    color: #B22B8A;
}

/*CONTATORE TEMPO DOMANDE*/

#countdown-container {
    position: absolute;
    top: 0;
    right: 0;
}

#countdown {
    display: flex;
    align-items: center;
}

#cerchio {
    position: relative;
}

#timerScritta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, -65%);
    text-align: center;
    margin-left: 4.5rem;
}

.scritta {
    font-family: 'outfit';
    font-size: 0.5rem;
    color: white;
}

#countdown-number {
    font-family: 'outfit';
    color: white;
    font-size: 2.2rem;
}

#coloreCerchio {
    stroke: rgba(185, 181, 181, 0);
}

#circle {
    stroke: rgb(0, 255, 255);
}




#PrimaParteFeedback {
    padding: 0vh 0vh 7vh 0vh;
}

#PrimaParteFeedback h2 {
    display: block;
    font-weight: 600;
    font-size: 3.75rem;
    margin: 0vh 0vh 3.5vh 6vh;
}

#PrimaParteFeedback div {
    display: block;
    margin: 3%;
    padding: 0vh 38vh 0vh 38vh;
}

.stellaFeedback {
    padding: 1.0vh;
}

#SecondaParteFeedback p {
    margin: 4vh 0vh 3vh 0vh;
}

#SecondaParteFeedback input {
    margin-bottom: 10vh;
    color: white;
    background: none;
    border: none;
    border-bottom: #B22B8A solid;
    font-size: 1.5rem;
    width: 41vw;
    height: 5vh;
}

#SecondaParteFeedback button {
    font-size: 1.4rem;
    font-weight: 800;
    border: none;
    background-color: darkgray;
    width: 18vw;
    height: 10vh;
}

#SecondaParteFeedback button:hover {
    background-color: #75FBFD;
    box-shadow: 0px 0px 35px 7px rgba(117, 251, 253, 0.63);
    transition-duration: 150ms;
    cursor: pointer;
}

/* CSS PAGINA RISULTATI */
.boxRisposteRisultati {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4%;
}

.contenitoreTitolo {
    margin-bottom: 5em;
}

.contenitoreRateUs {
    margin-top: 10em;
}

.contenitoreRisposteCorrette {
    margin-right: 15rem;
}

.contenitoreRisposteCorrette, .contenitoreRisposteSbagliate{
    margin-top: 6rem;
}

/* CSS GRAFICO A TORTA PARADISO*/

.risultatoEsame {
    width: 28rem;
    height: 28rem;
    background-color: transparent;
    position: absolute;
    transform: translate(0%, 15%);
    border-radius: 2rem;
    display: grid;
    place-items: center;
}

.risultatoEsameProgresso {
    position: relative;
    width: 23rem;
    height: 23rem;
    background-color: #75FBFD;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.risultatoEsameProgresso:before {
    content: "";
    position: absolute;
    height: 78%;
    width: 78%;
    background-color: rgb(43, 13, 72);
    border-radius: 50%;
}

.risultatoEsameProgressoValore {
    position: relative;

}

.contenitoreRisposteCorrette {
    display: flex;
}


 